NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=tu_base_de_datos
POSTGRES_PORT=5432

DATABASE_URL=postgresql://tu_usuario:tu_password@db:5432/tu_base_de_datos

CHECKPOINT_DISABLE=1
PRISMA_HIDE_UPDATE_MESSAGE=1